APPLICATION_ENV=development
DEMO_MODE=1
APP_BASE_PATH=/
APP_IMAGE=ghcr.io/replace-me/laminas-safari:latest
DB_HOST=db
DB_NAME=horsesns_safari
DB_USER=horsesns_safari
DB_PASSWORD=''
DB_ROOT_PASSWORD=''
EMAIL_ADDRESS=''
EMAIL_PASSWORD=''
EMAIL_NAME=''
EMAIL_SERVER_NAME=''
EMAIL_SERVER_HOST=''
CORPORATE_EMAIL_ADDRESS=''
CORPORATE_EMAIL_NAME=''
RECAPTCHA_SITE_KEY=''
RECAPTCHA_SECRET_KEY=''

